autopep8==1.5.4
beautifulsoup4==4.9.3
blessings==1.7
cachetools==4.1.1
certifi==2020.12.5
chardet==3.0.4
cssselect==1.1.0
cssutils==1.0.2
curtsies==0.3.4
enquiries==0.1.0
idna==2.10
lxml==4.6.2
premailer==3.7.0
pycodestyle==2.6.0
python-dotenv==0.15.0
requests==2.25.0
schedule==0.6.0
six==1.15.0
soupsieve==2.0.1
toml==0.10.2
urllib3==1.26.2
wcwidth==0.2.5
yagmail==0.14.245
